<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <title>{% block title %}{% endblock %}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

        <link rel="icon" type="image/png" href="{% static 'links/img/favicon.png' %}">

        {% block css %}{% endblock %}
    </head>

    <body>
        <main>
            {% block main %}{% endblock %}
        </main>
    </body>

    {% block js %}{% endblock %}

</html>
